@keyframes donations {
  0% {
    background-color: #037ef3; color: #ffffff;
    content: '프로그램을 이용해주셔서 감사합니다.';
  }
  10% {
    background-color: #f85a40; color: #ffffff;
    content: '배너를 누르시면 개발자 블로그로 이동합니다';
  }
  20% {
    background-color: #037ef3; color: #ffffff;
    content: '새로운 기능에 대한 아이디어를 제안해주세요';
  }
  30% {
    background-color: #037ef3; color: #ffffff;
    content: '인플루언서를 위한 자동화 필수 프로그램';
  }
  40% {
    background-color: #f48924; color: #ffffff;
    content: '어뷰징없는 그날까지 캠페인은 계속된다!';
  }
  50% {
    background-color: #f48924; color: #ffffff;
    content: '후원계좌: 최원 3333-04-6073417 카카오뱅크';
  }
  60% {
    background-color: #f48924; color: #ffffff;
    content: '후원계좌: 최원 3333-04-6073417 카카오뱅크';
  }
  70% {
    background-color: #037ef3; color: #ffffff;
    content: '후원해주신 모든 분들께 감사드립니다';
  }
  80% {
    background-color: #037ef3; color: #ffffff;
    content: '마케팅에 대한 정보도 공유하자! 맞팬오픈톡!';
  }
  90% {
    background-color: #f85a40; color: #ffffff;
    content: '이 프로그램은 어떠한 개인정보도 수집하지 않습니다';
  }
  100% {
    background-color: #f85a40; color: #ffffff;
    content: '어뷰징없는 그날까지 캠페인은 계속된다!';
  }
}

.donation-myso { position: relative; }
.donation-myso:before, .donation-myso:after {
  content: ''; cursor: pointer; display: none;
  text-align: center; font-size: 14px;
  background-color: #dd4b39; color: #ffffff;
  animation-duration: 24s;
  animation-name: donations;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 100%; height: 50px; line-height: 50px;
}
.donation-myso.donation-sticky-b:after { display: block; }
.donation-myso.donation-sticky-t:before { display: block; }
