@keyframes donations {
  0% {
    content: '배너를 눌러 개발자를 후원해주세요.';
  }
  50% {
    content: '프로그램을 이용해주셔서 감사합니다.';
  }
  100% {
    content: '여러분의 새로운 아이디어를 기다립니다.';
  }
}

.donation-myso { position: relative; }
.donation-myso:before, .donation-myso:after {
  content: ''; cursor: pointer; display: none;
  text-align: center; font-size: 14px;
  background-color: #52565e; color: #ffffff;
  animation-duration: 24s;
  animation-name: donations;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 100%; height: 50px; line-height: 50px;
}
.donation-myso.donation-sticky-b:after { display: block; }
.donation-myso.donation-sticky-t:before { display: block; }
.donation-myso-frame {
  display: block; width: 100%; height: 80px; border: 0;
  background-color: rgba(0, 0, 0, 0.3); margin-top:3px;
}