{% capture meta_title %}{% if page.id %}{{ page.name }} {{ page.version }}{% else %}인플루언서를 위한 무료 자동화 도구{% endif %}{% endcapture %}
{% capture meta_description %}{% if page.id %}{{ page.description }}{% else %}Tampermonkey를 활용한 자동화 서비스 확장 기능{% endif %}{% endcapture %}
{% capture redirection_url %}{% if page.id %}{{ page.updateURL | strip }}{% else %}https://blog.myso.kr/221870540540{% endif %}{% endcapture %}
<!doctype html>
<html>
  <head>
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:url" content="http://tampermonkey.myso.kr{{ page.url }}">
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/1237913">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cw4196">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta property="profile:first_name" content="Won">
    <meta property="profile:last_name" content="Choi">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.map%2CArray.prototype.keys%2CArray.from%2CObject.assign%2CURL%2CURLSearchParams%2Cdocument.querySelector"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>html, body { background-color: #333; height: 100%; } </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center h-100 overflow-auto">
      <div class="card w-100">
        <div class="card-body">
          <div class="d-flex flex-column flex-xl-row">
            <div>
              <h1 class="card-title h3 mb-1">{{ meta_title }}</h1>
              <p class="card-text mb-3">{{ meta_description }}</p>
              <div>
                <img class="hits-seeyoufarm" data-url="https://tampermonkey.myso.kr/" data-count-bg="#79C83D" data-title-bg="#555555" data-edge-flat="false" data-title="visits" />
                {% if page.id %}
                <img class="hits-seeyoufarm" data-url="https://tampermonkey.myso.kr{{ page.url }}" data-count-bg="#4298b5" data-title-bg="#555555" data-edge-flat="false" data-title="downloads" />
                {% endif %}
              </div>
            </div>
            {% if page.id %}
            <div class="flex-grow-1 d-flex justify-content-center justify-content-xl-end align-items-center">
              <div class="text-center text-xl-end mt-5 mt-xl-3 mb-3">
                <div class="mb-2"><a href="{{ redirection_url }}" class="btn btn-md btn-primary">Tampermonkey에 추가하기</a></div>
                <div>
                  <a class="text-small" href="https://www.tampermonkey.net/" target="_blank">
                    <small>Tampermonkey가 설치된 브라우저에서 설치가 가능합니다.</small>
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://blog.naver.com/cw4196">개발자 최원의 블로그</a></li>
          <li class="list-group-item"><a href="https://blog.naver.com/cw4196/221870540540">배포중인 프로그램 전체보기</a></li>
        </ul>
      </div>
    </div>
    <script>
      Array.from(document.querySelectorAll('img.hits-seeyoufarm')).map(function(el) {
        let uri = new URL('https://hits.seeyoufarm.com/api/count/incr/badge.svg');
        let prm = Object.assign({}, el.dataset); Object.keys(prm).map(function(k) { uri.searchParams.set(k.replace(/[A-Z]/g, function(c) { return '_' + c.toLowerCase() }), prm[k]) });
        el.src = uri.toString();
      });
    </script>
  </body>
</html>
